#flags{
    background-image: url(../img/bg-flags.jpg);
    padding-bottom: 0px;
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
    background-repeat: repeat-x;
    height: 29px;
    padding-top: 0px;
    text-align: center;
}
#flags li{
    display: inline;
}
#header{
    background-image: url(../img/bg-header.jpg);
    padding-bottom: 0px;
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
    background-repeat: repeat-x;
    height: 84px;
    padding-top: 0px;
}
#search{
    margin: 15px 0px 0px ;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}


.main-menu nav{
    background: url(../img/bg-nav.png) repeat-x;
}

.main-menu nav li{
    background: url("../img/bg-nav-02.png") repeat-x;
}
.main-menu ul.nav:before{
    background: url("../img/bg-nav-01.png") no-repeat;
    width: 55px;
    content: " ";
    height: 50px;
    float: left;
}

div.container-fluid{
    padding: 0px;
}

.main-menu ul.nav:after{
    background: url("../img/bg-nav-03.png") no-repeat;
    width: 100px;
    content: " ";
    height: 50px;
    float: left;
    clear: none;
}

.main-menu nav{
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a{
    margin-top: 4px;
    padding-bottom: 8px;
}
.navbar-default .navbar-nav>li>a{
    color: #bc0b1a;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #bc0b1a;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #bc0b1a;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #bc0b1a;
}

/*Search*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    font-size: 15px;
    font-family: tahoma;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
    color: red;
}
.fa {
    margin-top: 100%;
}

/*End search*/

.new-container{
    margin-top: 20px;
}
.panel-heading span{
    background-color: #D62D18;
    color: #ffffff;
    margin: -15px;
    padding: 12px 21px;
    border-radius: 5px 0px 0px 0px;
    text-transform: uppercase;
}

.box-product img{
    width: 100%;
}
.list-news{
    padding: 0px;
    margin: 0px;
}

.list-news li{
    list-style: none;
    padding: 5px 0px;
}
.list-news a{
    color: #3c3b3b;
    font-weight: bold;
}
.list-news a:hover{
    color: #e60012;
}
.list-news li:before{
    content: " ";
    background: url(../img/bg-list-style.png) no-repeat;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin-top: 8px;
}
.box-product{
    text-align: center;
}
.name-product{
    color: #3c3b3b;
    font-weight: bold;
    text-align: center;
}
.name-product:hover{
    color: #e60012;
}
.code-product{
    color: #f39800;
}

/*Footer*/

#footer{
    background: url("../img/bg-footer.jpg") repeat-x;
    height: 73px;
    color: #ffffff;
    padding-top: 10px;
}


/*Slide*/
#myCarousel{

}

/*Feedback*/
.feedback_btn{
    text-align: center;
}
.feedback_bg{
    background: url("../img/bg_feedback.jpg") repeat-x;
}
.content_feedback{
    padding-top: 150px;
}
/*Download*/
table, th, td {
    border: 1px solid black;
}

.box-ads img{
    width: 100%;
}

.sidebar ul{
    margin: 0px;
    padding: 0px;
}
.sidebar .panel-heading{
    background-color: #B61302;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.sidebar .panel-heading{
}
.sidebar .panel-body{
    padding: 0px;
}
.sidebar ul li span{
    font-size: 10px;
    padding-right: 5px;
    top: -1px;
}

.sidebar ul li:hover span{
    color: red;
}

.sidebar ul li:hover {
    color: darkgreen;
}

.sidebar ul li{
    list-style: none;
    padding: 8px 0px 8px 10px;
    border-bottom: 1px solid #cccccc;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,ffffff+100 */
    background: rgb(230,230,230); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}


